:root {
  --background-color: rgb(173,235,252);
  --background-gradient-top: rgba(173,235,252,1);
  --background-gradient-bottom: rgba(211,249,255,1);
  --header-background: #ffffff;
  --header-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.04);
  --sections-main-background: #fff;
  --sections-dark-background: #23272f;
  --sections-dark-border: #2c3038;
  --typography-primary-color: #000000;
  --typography-secondary-color: #333333;
  --typography-light-on-dark: #ffffff;
  --typography-action-color: #039BE5;
  --typography-h2-decoration: var(--typography-action-color);
  --svg-fill-light: #fff;
  --svg-fill-dark: #000;
  --customer-quote-background: rgb(46, 64, 228);
  --cards-border: #E8EBED;
  --buttons-primary-color: #000000;
  --buttons-primary-typography-color: #ffffff;
  --logo-drop: #039BE5;
  --logo-chars: #000000; }

/* -------------------------------------------------------------------------- */
/*	0. CSS Reset
/* -------------------------------------------------------------------------- */
html,
body {
  border: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit; }

blockquote::before,
blockquote::after {
  content: ""; }

body {
  box-sizing: border-box;
  color: var(--typography-primary-color);
  text-align: left;
  background: var(--background-color);
  background: linear-gradient(180deg, var(--background-gradient-top) 0%, var(--background-gradient-bottom) 100%); }

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; } }
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word; }

::selection {
  background: #FFE1B5; }

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; } }
@font-face {
  font-family: "SourceSans Pro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/sourcesanspro-regular.woff2) format("woff2"); }
@font-face {
  font-family: "SourceSans Pro";
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url(../fonts/sourcesanspro-bold.woff2) format("woff2"); }
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  /* stylelint-disable-line font-weight-notation */
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Inter-upright-var.woff2) format("woff2"); }
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  /* stylelint-disable-line font-weight-notation */
  font-style: italic;
  font-display: swap;
  src: url(../fonts/Inter-italic-var.woff2) format("woff2"); }
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

html {
  line-height: 1.72; }

body {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0; }

h1, h2, h3, h4, h5 {
  font-family: "SourceSans Pro", sans-serif;
  font-weight: bold; }

h1, h2, h3 {
  letter-spacing: -0.03em; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 1.8rem;
  line-height: 1.2; }

a {
  color: var(--typography-action-color);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

@media (max-width: 620px) {
  h2 {
    font-size: 2.4rem;
    line-height: 1.2; } }
.grid__tiles {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 1fr; }
.grid__col-2 {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); }
.grid__col-3 {
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr)); }
.grid__col-4 {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.hamburger {
  padding: 12px 13px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 5px; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.layout {
  width: 100%;
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem; }
  .layout__align--vertical-centered {
    display: flex;
    justify-content: center;
    align-items: center; }
  .layout__align--horizontal-centered {
    margin: 0 auto; }
  .layout__align--text-centered {
    text-align: center; }

.hero {
  padding-top: 20rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2; }
  .hero-master {
    background: url(../images/header-artwork-2.svg) 50% 142px no-repeat;
    background-size: cover; }
    .hero-master::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: url(../images/background-hero-gradient.svg) 0 100% repeat-x;
      width: 100%;
      height: 100px; }
  .hero__h1 {
    font-size: 4.8rem;
    line-height: 1.2;
    word-spacing: 0.4rem; }
    .hero__h1--single-line {
      display: block; }
  .hero__leading {
    font-size: 1.8rem;
    line-height: 1.4;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    padding-left: 19rem;
    padding-right: 19rem; }
  .hero .mouse-scroll-icon {
    fill: var(--svg-fill-dark); }

@media (max-width: 1024px) {
  .hero {
    padding-top: 13rem;
    padding-bottom: 0rem; }
    .hero-master {
      background-position: url(../images/header-artwork-2.svg) 50% 50px no-repeat; }
    .hero__leading {
      padding-left: 0;
      padding-right: 0; } }
@media (max-width: 620px) {
  .hero {
    padding-top: 10rem; }
    .hero-master {
      background: url(../images/header-artwork-2.svg) 50% 80px no-repeat; }
    .hero__h1 {
      font-size: 3rem; }
    .hero__leading {
      font-size: 1.4rem;
      padding-bottom: 0; }
    .hero__actions {
      display: none; } }
.header__main {
  display: flex;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeInUp; }
  .header__main.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--header-background);
    z-index: 9;
    box-shadow: var(--header-shadow);
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeInDown; }
.header__logo, .header__navigation {
  padding: .8rem 1.2rem .2rem; }
.header__logo {
  flex: 1;
  margin-top: 7px; }
  .header__logo .aerlytix-drop {
    fill: var(--logo-drop); }
  .header__logo .aerlytix-char {
    fill: var(--logo-chars); }
  .header__logo--wrapper {
    width: 140px;
    height: 49px; }
.header__navigation ul {
  display: flex; }
.header__navigation li {
  padding: 10px 0; }
.header__navigation__link {
  display: block;
  font-weight: bold;
  color: var(--typography-primary-color);
  text-decoration: none;
  padding: .4rem 0 .2rem;
  margin-left: 2rem;
  transition: .2s all ease-in; }
  .header__navigation__link:hover {
    color: var(--typography-action-color); }
.header__navigation__button {
  margin-left: 2rem;
  position: relative;
  top: -.3rem; }
.header__navigation .active .nav__link {
  border-bottom: 3px solid var(--typography-action-color); }
.header__hamburger {
  display: none;
  position: absolute;
  top: 7px;
  right: 12px;
  z-index: 2; }
.header__legals {
  background: white; }

@media (max-width: 1024px) {
  .header__main {
    display: block; }
    .header__main.fixed {
      position: fixed; }
  .header__logo {
    display: block;
    margin-top: -2px;
    padding-bottom: 11px; }
  .header__hamburger {
    display: block; }
  .header__navigation {
    background: var(--header-background);
    display: none;
    width: 100%; }
    .header__navigation ul {
      display: block; }
    .header__navigation__link, .header__navigation__button {
      margin-left: 0; }
    .header__navigation--show {
      display: block;
      box-shadow: var(--header-shadow);
      margin-top: -72px;
      padding-top: 72px; } }
@media (min-width: 1060px) {
  .header__navigation {
    display: block; } }
.section {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background: var(--sections-main-background); }
  .section__header {
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .section__header--inner {
      max-width: 1440px;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 4rem;
      margin-left: auto;
      margin-right: auto; }
  .section__title, .section__leading {
    text-align: center; }
  .section__title {
    padding-bottom: 2.4rem;
    display: flex;
    flex-direction: column; }
    .section__title svg {
      margin-left: auto;
      margin-right: auto; }
    .section__title--top-decoration {
      margin-bottom: -1.8rem;
      stroke: var(--typography-h2-decoration); }
    .section__title--bottom-decoration {
      margin-top: -1.4rem;
      stroke: var(--typography-h2-decoration); }
    .section__title--back-home {
      font-size: 1.2rem; }
  .section__leading {
    font-size: 1.4rem; }
  .section__our-solutions {
    background: var(--sections-main-background); }
  .section__our-clients .inner-content {
    padding-bottom: 4rem; }
  .section__get-in-touch {
    background: var(--sections-dark-background);
    color: var(--typography-light-on-dark); }
    .section__get-in-touch p {
      color: var(--typography-light-on-dark); }
    .section__get-in-touch--social-networks {
      display: flex; }
    .section__get-in-touch--social {
      width: 32px;
      height: 32px;
      margin-right: .8rem; }
      .section__get-in-touch--social svg {
        fill: white; }
  .section__footer {
    background: var(--sections-dark-background);
    border-top: 1px solid var(--sections-dark-border);
    color: var(--typography-light-on-dark);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem; }
    .section__footer .inner-content {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem; }
    .section__footer--logo {
      position: relative;
      top: 3px;
      width: 140px;
      display: block; }
      .section__footer--logo-wrapper {
        flex: 1; }
    .section__footer .aerlytix-char {
      fill: white; }
    .section__footer .aerlytix-drop {
      fill: #03A9F4; }
  .section__legals .inner-content {
    max-width: 1000px;
    padding-left: 2rem;
    padding-right: 2rem; }
  .section__legals p, .section__legals h3, .section__legals ul {
    padding-bottom: 1rem; }
  .section__legals table {
    border: 1px solid #f0f0f0;
    margin-bottom: 1rem; }
  .section__legals tr {
    border: 3px solid red; }
  .section__legals th, .section__legals td {
    padding: .5rem;
    border-bottom: 1px solid #f0f0f0; }
  .section__legals th {
    width: 33%; }

.customer-quotes {
  background: var(--customer-quote-background);
  color: var(--typography-light-on-dark);
  padding: 5rem 7rem;
  position: relative;
  border-radius: 1rem; }
  .customer-quotes__quote p {
    color: var(--typography-light-on-dark);
    font-size: 2.4rem;
    padding-bottom: 3rem; }
  .customer-quotes--graphic {
    position: absolute;
    top: 2.8rem;
    left: 2.8rem; }

@media (max-width: 1440px) {
  .customer-quotes {
    border-radius: 0; } }
@media (max-width: 1024px) {
  .section__get-in-touch .grid__tiles {
    display: block; }
  .section__footer .inner-content {
    display: block; }
  .section__footer--legals {
    text-align: left; }

  .customer-quotes__quote p {
    font-size: 2rem; } }
@media (max-width: 620px) {
  .section__leading {
    font-size: 1.4rem;
    line-height: 1.4; }
  .section__our-solutions .grid__tiles, .section__our-projects .grid__tiles, .section__who-we-are .grid__tiles, .section__our-clients .grid__tiles {
    display: block; }
  .section__our-clients .inner-content.section__our-clients--excerpt {
    padding-left: 2rem;
    padding-right: 2rem; }

  .customer-quotes {
    padding: 1.48rem 2rem; }
    .customer-quotes__quote p {
      font-size: 1.4rem;
      padding-bottom: 1rem; }
    .customer-quotes__quote footer {
      font-size: 1rem;
      font-weight: bold; }
    .customer-quotes--graphic {
      top: 0.8rem;
      left: 0.8rem; } }
.card {
  border-radius: 0.25rem;
  border: 1px solid var(--cards-border);
  width: 100%;
  padding: 2rem;
  height: 100%; }
  .card__icon {
    margin-bottom: 1rem;
    max-width: 640px; }
  .card--no-border {
    border: 0; }
  .card--no-style {
    border-radius: 0;
    background: trasparent;
    border: 0; }
  .card__h3 {
    padding-bottom: 1rem; }

@media (max-width: 1024px) {
  .card__icon {
    max-width: 560px; } }
@media (max-width: 620px) {
  .card__icon {
    width: 100%; } }
.button {
  display: inline-flex;
  background: var(--buttons-primary-color);
  border-radius: 4px;
  padding: .6rem 1rem;
  color: var(--buttons-primary-typography-color);
  font-weight: bold;
  text-decoration: none; }
  .button--big {
    padding: 1.2rem 2rem;
    font-size: 140%; }
  .button--outline {
    border: 1px solid var(--buttons-primary-color);
    color: var(--buttons-primary-color);
    background: var(--buttons-primary-typography-color); }
    .button--outline:hover {
      color: var(--buttons-primary-typography-color);
      background: var(--buttons-primary-color); }

@media (max-width: 1060px) {
  .button {
    display: block;
    text-align: center; } }
.textblock {
  display: flex; }
  .textblock__icon {
    margin-top: .268rem; }
  .textblock__text {
    padding-left: 1rem; }

.icon {
  display: inline-block; }
  .icon__check {
    stroke: #48A7EE;
    stroke-width: 2px; }

.cookieConsentContainer {
  z-index: 5;
  width: 350px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: none;
  box-shadow: 0 11px 32px -5px rgba(54, 61, 77, 0.15);
  border-radius: 4px; }
  .cookieConsentContainer .cookieTitle a {
    color: black;
    font-weight: bold;
    line-height: 20px;
    display: block; }
  .cookieConsentContainer .cookieDesc p {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 13px;
    line-height: 20px;
    display: block;
    margin-top: 10px; }
  .cookieConsentContainer .cookieDesc a {
    color: black;
    text-decoration: underline; }
  .cookieConsentContainer .cookieButton a {
    display: inline-block;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-top: 14px;
    background: black;
    box-sizing: border-box;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    border-radius: 4px; }
    .cookieConsentContainer .cookieButton a:hover {
      cursor: pointer;
      box-shadow: 0 5px 10px -5px rgba(54, 61, 77, 0.4); }

@media (max-width: 980px) {
  .cookieConsentContainer {
    bottom: 0px;
    left: 0px;
    width: 100%; } }
body {
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.content {
  width: 100%;
  max-width: 1440px;
  text-align: center;
  margin: 0 auto; }

.inner-content {
  max-width: 1440px;
  margin: 0 auto; }

#wrapper {
  width: 100%; }

#front {
  width: 100%;
  height: 100%;
  position: relative; }

li {
  list-style: none; }

/*# sourceMappingURL=styles.css.map */
