.card {
    border-radius: 0.25rem;
    border: 1px solid var(--cards-border);
    width: 100%;
    padding: 2rem;
    height: 100%;

    &__icon {
        margin-bottom: 1rem;
        max-width:640px;
    }

    // &--shadow {
    //     box-shadow: 0px 0px 31px -9px rgba(0,0,0,0.1);
    // }

    &--no-border {
        border: 0;
    }

    &--no-style {
        border-radius: 0;
        background: trasparent;
        border: 0;
    }

    &__h3 {
        padding-bottom:1rem;
    }
}

@media (max-width: 1024px) {
    .card {
        &__icon {
            max-width: 560px;
        }        
    }
}

@media (max-width: 620px) {
    .card {
        &__icon {
            width: 100%;
        }
    }
}