.header {
	&__main {
		display: flex;
		animation-duration: .5s;
		animation-fill-mode: both;
		animation-name: fadeInUp;

		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background: var(--header-background);
			z-index: 9;
			box-shadow: var(--header-shadow);
			animation-duration: .5s;
			animation-fill-mode: both;
			animation-name: fadeInDown;	  
		}		
	}

	&__logo, &__navigation {
		padding: .8rem 1.2rem .2rem;
	}

	&__logo {
		flex: 1;
		margin-top: 7px;

		.aerlytix-drop {
			fill: var(--logo-drop);
		}

		.aerlytix-char {
			fill: var(--logo-chars);
		}
		
		&--wrapper {
			width: 140px;
			height: 49px;
		}
	}

	&__navigation {
		
		ul {
			display: flex;
		}
	
		li {
			padding: 10px 0;
		}
	
		&__link {
			display: block;
			font-weight: bold;
			color: var(--typography-primary-color);
			text-decoration: none;
			padding: .4rem 0 .2rem;
			margin-left: 2rem;
			transition: .2s all ease-in;
	
			&:hover {
				color: var(--typography-action-color);
			}
		}
		
		&__button {
			margin-left: 2rem;
			position: relative;
			top: -.3rem;
		}
	
		.active {
			.nav__link {
				border-bottom: 3px solid var(--typography-action-color);
			}
		}
	}

	&__hamburger {
		display: none;
		position: absolute;
		top: 7px;
        right: 12px;
		z-index: 2;
	}

	&__legals {
		background: white;
	}
}

@media (max-width: 1024px) {
	.header {
		&__main {
			display: block;

			&.fixed {
				position: fixed;
			}
		}

		&__logo {
			display: block;
			margin-top: -2px;
    		padding-bottom: 11px;
		}

		&__hamburger {
			display: block;
		}
		 
		&__navigation {
			background: var(--header-background);
			display: none;
			width: 100%;

			ul {
				display: block;
			}

			&__link, &__button {
				margin-left: 0;
			}
			
			&--show {
				display:block;
				box-shadow: var(--header-shadow);
				margin-top: -72px;
    			padding-top: 72px;
			}
		}
	}
}

@media (min-width: 1060px) {
	.header {
		&__navigation {
			display: block;
		}
	}
}