.section {

    padding-top: 5rem;
    padding-bottom: 6rem;
    background: var( --sections-main-background);

    &__header {

        margin-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;

        &--inner {
            max-width: 1440px;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 4rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title, &__leading {
        text-align: center;
    }

    &__title {
        padding-bottom: 2.4rem;
        display: flex;
        flex-direction: column;

        svg {
            margin-left: auto;
            margin-right: auto;
        }

        &--top-decoration {
            margin-bottom:-1.8rem;
            stroke: var(--typography-h2-decoration);
        }

        &--bottom-decoration {
            margin-top:-1.4rem;
            stroke: var(--typography-h2-decoration);
        }

        &--back-home {
            font-size: 1.2rem;
        }
    }

    &__leading {
        font-size: 1.4rem;
    }

    // Here start specific sections styling

    &__our-solutions {
        background: var(--sections-main-background);
    }

    &__our-clients {
        .inner-content {
            padding-bottom:4rem;
        }

        &--excerpt {
            // border: 1px solid red;
        }
    }

    &__get-in-touch {
        background: var(--sections-dark-background);
        color: var(--typography-light-on-dark);
        p {
            color: var(--typography-light-on-dark);
        }

        &--social-networks {
            display: flex;
        }

        &--social {
            width: 32px;
            height: 32px;
            margin-right: .8rem;
            svg {
                fill: white;
            }
        }
    }

    &__footer {
        background: var(--sections-dark-background); 
        border-top:1px solid var(--sections-dark-border);
        color: var(--typography-light-on-dark);
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 1.2rem;
        
        .inner-content {
            display: flex;
            align-items: center;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &--logo {
            position: relative;
            top: 3px;
            width: 140px;
            display: block;

            &-wrapper {
                flex: 1;
            }
        }

        .aerlytix-char {
            fill: white;
        }

        .aerlytix-drop {
            fill: #03A9F4;
        }
    }

    &__legals {
        .inner-content {
            max-width: 1000px;
            padding-left:2rem;
            padding-right:2rem;
        }
        p, h3, ul {
			padding-bottom: 1rem;
        }
        table {
            border:1px solid #f0f0f0;
            margin-bottom: 1rem;
        }
        tr {
            border: 3px solid red;
        }
        th, td {
            padding:.5rem;
            border-bottom:1px solid #f0f0f0;
        }
        th {
            width: 33%;
        }
    }
}

.customer-quotes {
    background: var(--customer-quote-background);
    color: var(--typography-light-on-dark);
    padding: 5rem 7rem;
    position: relative;
    border-radius: 1rem;

    &__quote {
        p {
            color: var(--typography-light-on-dark);
            font-size: 2.4rem;
            padding-bottom:3rem;
        }
    }

    &--graphic {
        position: absolute;
        top: 2.8rem;
        left: 2.8rem;
    }
}

@media (max-width: 1440px) {
    .customer-quotes {
        border-radius: 0;
    }
}

@media (max-width: 1024px) {
    .section {

        &__get-in-touch {
            .grid__tiles {
                display: block;
            }
        }

        &__footer {
            
            .inner-content {
                display: block;
            }

            &--legals {
                text-align: left;
            }
        }
    }

    .customer-quotes {

        &__quote {
            p {
                font-size:2rem;
            }
        }
    }
}

@media (max-width: 620px) {
    .section {
        &__leading {
            font-size: 1.4rem;
            line-height: 1.4;
        }

        &__our-solutions, &__our-projects, &__who-we-are, &__our-clients {
            .grid__tiles {
                display: block;
            }
        }

        &__our-clients {
            .inner-content.section__our-clients--excerpt {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }

    .customer-quotes {
        padding: 1.48rem 2rem;

        &__quote {
            p {
                font-size: 1.4rem;
                padding-bottom: 1rem;
            }
            footer {
                font-size: 1rem;
                font-weight: bold;
            }
        }

        &--graphic {
            top: 0.8rem;
            left: 0.8rem;
        }
    }
}