:root {
    // Colors
    --background-color: rgb(173,235,252);
    --background-gradient-top: rgba(173,235,252,1);
    --background-gradient-bottom: rgba(211,249,255,1);
    
    --header-background: #ffffff;
    --header-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.04);

    --sections-main-background: #fff;
    --sections-dark-background: #23272f;
    --sections-dark-border: #2c3038;

    --typography-primary-color: #000000;
    --typography-secondary-color: #333333;
    --typography-light-on-dark: #ffffff;
    --typography-action-color: #039BE5;
    --typography-h2-decoration: var(--typography-action-color);

    --svg-fill-light: #fff;
    --svg-fill-dark: #000;

    --customer-quote-background: rgb(46, 64, 228);

    --cards-border: #E8EBED;

    --buttons-primary-color: #000000;
    --buttons-primary-typography-color: #ffffff;

    --logo-drop: #039BE5;
    --logo-chars: #000000;
}


// @media (prefers-color-scheme: dark) {
//     :root {
//         --background-color: #121212;
//         --background-gradient-top: #121212;
//         --background-gradient-bottom: #000000;
//         --header-background: #121212;
//         --typography-primary-color: #fff;

//         --logo-drop: #039BE5;
//         --logo-chars: #ffffff;

//         --svg-fill-dark: #fff;

//         --sections-main-background: #15181b;
//         --sections-dark-background: #15181b;
//         --sections-dark-border: #000;

//         --buttons-primary-color: #fff;
//         --buttons-primary-typography-color: #000;
//     }
//   }
