html {
    line-height: 1.72;
}

body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0;
}

h1, h2, h3, h4, h5 {
    font-family: "SourceSans Pro", sans-serif;
    font-weight: bold;
}

h1, h2, h3 {
    letter-spacing: -0.03em;
}

h2 {
    font-size: 3rem; // 2.8rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.2;
}

// p {
//      color: $color__paragraph;
// }

a {
    color: var(--typography-action-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 620px) {
    h2 {
        font-size:2.4rem;
        line-height: 1.2;
    }
}