<!doctype html>
<html xml:lang="en" lang="en">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title>{{metadata.title}}</title>

<meta name="description" content="{{ metadata.description }}"/>
<meta name="robots" content="index, follow"/>

<meta property="og:title" content="{{ metadata.sub_title }}" />
<meta property="og:description" content="{{ metadata.description }}" />
<meta property="og:type" content="{{ metadata.type }}"/>
<meta property="og:url" content="{{ metadata.url }}"/>
<meta property="og:image" content="{{ metadata.card_img_og }}"/>
<meta property="og:site_name" content="Aerlytix"/>

<meta property="twitter:card" content="{{ metadata.summary }}"/>
<meta property="twitter:title" content="{{ metadata.sub_title }}"/>
<meta property="twitter:description" content="{{ metadata.description }}."/>
<meta property="twitter:image" content="{{ metadata.card_img_twitter }}"/>
<meta property="twitter:site" content="@aerlytix"/>

<link rel="canonical" href="{{ metadata.url }}"/>
<link rel="shortcut icon" sizes="16x16" href="/favicon.png">
<link rel="shortcut icon" sizes="32x32" href="/favicon@2x.png">

<link href="css/styles.css" rel="stylesheet">


</head>

<body>
